mixin control()
  .control
    .control__header='from'
      input.control__input-from(type='number')
    .control__header='to'
      input.control__input-to(type='number')
    .control__header='min'
      input.control__input-min(type='number')
    .control__header='max'
      input.control__input-max(type='number')
    .control__header='step'
      input.control__input-step(type='number')
    .control__header='has tip'
      input.control__input-tip(type='checkbox')
    .control__header='is vertical'
      input.control__input-is-vertical(type='checkbox')
    .control__header='is range'
      input.control__input-is-range(type='checkbox')