
.example
  .container
    .bimkon-slider-1
  .control-panel
    .input-text-field__header='from'
    input(type='number' class=`slider-1__input_from`)
    .input-text-field__header='to'
    input(type='number' class=`slider-1__input_to`)
    .input-text-field__header='min'
    input(type='number' class=`slider-1__input_min`)
    .input-text-field__header='max'
    input(type='number' class=`slider-1__input_max`)
    .input-text-field__header='step'
    input(type='number' class=`slider-1__input_step`)
    .input-text-field__header='has tip'
    input(type='checkbox' class=`slider-1__input_tip`)
    .input-text-field__header='is vertical'
    input(type='checkbox' class=`slider-1__input_is-vertical`)
    .input-text-field__header='is range'
    input(type='checkbox' class=`slider-1__input_is-range`)
.bimkon-slider-2
.bimkon-slider-3
.bimkon-slider-4
