
.example
  .container
    .bimkon-slider-1
  .control-panel
    .input-text-field__header='from'
    input(type='number' class=`slider__input_from`)
    .input-text-field__header='to'
    input(type='number' class=`slider__input_to`)
    .input-text-field__header='min'
    input(type='number' class=`slider__input_min`)
    .input-text-field__header='max'
    input(type='number' class=`slider__input_max`)
    .input-text-field__header='step'
    input(type='number' class=`slider__input_step`)
    .input-text-field__header='has tip'
    input(type='checkbox' class=`slider__input_tip`)
    .input-text-field__header='is vertical'
    input(type='checkbox' class=`slider__input_is-vertical`)
    .input-text-field__header='is range'
    input(type='checkbox' class=`slider__input_is-range`)
.example
  .container
    .bimkon-slider-2
  .control-panel
    .input-text-field__header='from'
    input(type='number' class=`slider__input_from`)
    .input-text-field__header='to'
    input(type='number' class=`slider__input_to`)
    .input-text-field__header='min'
    input(type='number' class=`slider__input_min`)
    .input-text-field__header='max'
    input(type='number' class=`slider__input_max`)
    .input-text-field__header='step'
    input(type='number' class=`slider__input_step`)
    .input-text-field__header='has tip'
    input(type='checkbox' class=`slider__input_tip`)
    .input-text-field__header='is vertical'
    input(type='checkbox' class=`slider__input_is-vertical`)
    .input-text-field__header='is range'
    input(type='checkbox' class=`slider__input_is-range`)
.example
  .container
    .bimkon-slider-3
  .control-panel
    .input-text-field__header='from'
    input(type='number' class=`slider__input_from`)
    .input-text-field__header='to'
    input(type='number' class=`slider__input_to`)
    .input-text-field__header='min'
    input(type='number' class=`slider__input_min`)
    .input-text-field__header='max'
    input(type='number' class=`slider__input_max`)
    .input-text-field__header='step'
    input(type='number' class=`slider__input_step`)
    .input-text-field__header='has tip'
    input(type='checkbox' class=`slider__input_tip`)
    .input-text-field__header='is vertical'
    input(type='checkbox' class=`slider__input_is-vertical`)
    .input-text-field__header='is range'
    input(type='checkbox' class=`slider__input_is-range`)
.example
  .container
    .bimkon-slider-4
  .control-panel
    .input-text-field__header='from'
    input(type='number' class=`slider__input_from`)
    .input-text-field__header='to'
    input(type='number' class=`slider__input_to`)
    .input-text-field__header='min'
    input(type='number' class=`slider__input_min`)
    .input-text-field__header='max'
    input(type='number' class=`slider__input_max`)
    .input-text-field__header='step'
    input(type='number' class=`slider__input_step`)
    .input-text-field__header='has tip'
    input(type='checkbox' class=`slider__input_tip`)
    .input-text-field__header='is vertical'
    input(type='checkbox' class=`slider__input_is-vertical`)
    .input-text-field__header='is range'
    input(type='checkbox' class=`slider__input_is-range`)
.example
  .container
    .bimkon-slider-5(data-min=99 data-max=199 data-step=1 data-is-range='true' data-is-vertical='true' data-from=105 data-to=125 data-has-tip='true' data-number-Of-Strokes=3 )
  .control-panel
    .input-text-field__header='from'
    input(type='number' class=`slider__input_from`)
    .input-text-field__header='to'
    input(type='number' class=`slider__input_to`)
    .input-text-field__header='min'
    input(type='number' class=`slider__input_min`)
    .input-text-field__header='max'
    input(type='number' class=`slider__input_max`)
    .input-text-field__header='step'
    input(type='number' class=`slider__input_step`)
    .input-text-field__header='has tip'
    input(type='checkbox' class=`slider__input_tip`)
    .input-text-field__header='is vertical'
    input(type='checkbox' class=`slider__input_is-vertical`)
    .input-text-field__header='is range'
    input(type='checkbox' class=`slider__input_is-range`)
